html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
}

  h1 {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .title {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  h2 {
    width: 80vw;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    color: #810000;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: right;
    flex-shrink: 0;
  }
  
  h3 {
    margin: 10px;
    color: #000;
    text-align: center;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  a:hover {
    cursor: pointer;
  }

  .logout-button:hover {
    cursor: pointer;
  }

  .navbar {
    height: 100%;
    width: 65px;
    margin: 0px;
    padding-top: 13px;
    background-color: #810000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .navbar img {
    height: 40px;
    width: 40px;
  }

  .nav-button {
    margin: 20px 0px 20px 0px;
    cursor: pointer;
  }

  .main {
    height: 100%;
    width: 100%;
    padding: 0px 60px 0px 60px;
  }

  .main .header {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .search-container {
    display: flex;
    justify-content: end;
  }

  .search-textbox {
    width: 200px;
    height: 25px;
    padding-left: 5px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #810000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-textbox:hover, .filter-search:focus {
    outline: 1px solid #810000;
  }

  input[type="text"] {
    border: 0px;
  }
  
  input[type="text"]:focus {
    outline: none;
  }

  #roomFilter {
    width: 150px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #810000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #roomFilter:hover, #roomFilter:focus{
    outline: 1px solid #810000;
  }

  .filters-and-export {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .filters-container {
    display: flex;
    flex-wrap: wrap;
  }

  .time-container {
    display: flex;
    flex-wrap: wrap;
  }

  .date-time-filter {
    width: 125px;
    height: 28px;
    margin: 15px 3px 15px 0px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #810000;
    font-family: "Poppins";
    font-size: 12px;
    color: #810000;
    padding: 0px 12px 0px 12px;
    cursor: pointer;
  }

  .date-time-filter:hover, .date-time-filter:focus {
    outline: 1px solid #810000;
  }

  #export {
    width: 149px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #810000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #810000;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #export:hover {
    outline: 1px solid #810000;
  }

  .section-button-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .section-button {
    width: 200px;
    height: 95px;
    margin: 0px 20px 25px 0px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #810000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: #000;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .section-button:hover {
    background-color: #810000;
    color: white;
    outline: 3px solid #810000;
  }

  #attendanceTable {
    width: 100%;
    border-collapse: collapse;
  }

  #attendanceTable th, #attendanceTable td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  #attendanceTable th {
    background-color: #810000;
    color: #FFF;
  }

  .mobile-navbar-toggle {
    display: none;
  }

  #closeNavbar {
    display: none;
    margin-top: 0px;
  }

  @media only screen and (max-width: 811px) {
    h1 {
      font-size: 12px;
    }

    .main {
      padding: 10px 10px 0px 10px;
    }

    .navbar {
      width: 50px;
      display: none;
      position: fixed;  
      top: 0;  
      left: 0;  
      z-index: 1000;
    }

    .hamburger {
      margin-right: 10px;
    }

    #closeNavbar {
      display: block;
    }

    .mobile-navbar-toggle {
      margin-right: 20px;
      display: block;
      cursor: pointer;
    }

    .title {
      font-size: 12px;
    }

    .search-container {
      margin-bottom: 5px;
    }

    .search-textbox {
      width: 150px;
      height: 20px;
    }

    input[type="text"] {
      width: 110px;
      font-size: 10px;
    }

    #roomFilter {
      width: 106px;
      font-size: 10px;
    }

    .filters-and-export {
      display: flex;
      margin-top: 5px;
      justify-content: space-between;
      align-items: end ;
      gap: 5px;
    }

    .filters-container {
      display: flex;
      gap: 5px;
    }

    .date-time-filter {
      width: 80px;
      font-size: 10px;
      margin: 0px;
    }

    #export {
      width: 106px;
      font-size: 10px;
    }

    .section-button-container {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .section-button {
      width: 130px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid #000;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      font-size: 10px;
      align-items: center;
      margin: 5px;
    }

    #attendanceTable {
      margin-top: 7px;
    }

    #attendanceTable th, #attendanceTable td {
      font-size: 8px;
    }
  }

  @media only screen and (max-width: 345px) {
    .filters-and-export {
      flex-direction: column;
      align-items: start;
    }

    .filters-container {
      flex-direction: column;
    }

    .time-container {
      flex-direction: column;
    }
  }