html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  width: 80vw;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  color: #810000;
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  flex-shrink: 0;
}

h3 {
  margin: 10px;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logout-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  border: 0px;
  background-color: #00000000;
  padding: 0px;
  margin: 0px;
}

.logout-text {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logout-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.navbar {
  height: 75px;
  padding: 0px 30px 0px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-button:hover {
  cursor: pointer;
}

.main {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-graphics {
  height: 50vh;
  width: 85vh;
}

.answer-button {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0px;
  background: #810000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.answer-button:hover {
  cursor: pointer;
}

.title {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main form {
  width: 90%;
}

.settings-container {
  padding: 5px 20px 20px 20px;
  margin: 15px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #810000;
}

.div-left-right {
  display: flex;
  flex-wrap: wrap;
}

.settings-input {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-input p {
  font-size: 12px;
  margin: 0px;
}

.settings-input input[type="password"],
.settings-input input[type="email"] {
  height: 20px;
  width: 60%;
  margin: 10px 20px 10px 0px;
}

.settings-textbox {
  border: 1px solid #810000 !important;
  stroke-width: 1px;
  stroke: #000;
  border-radius: 5px;
}

.save-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-bottom: 20px;
}

.save-response {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  color: green;
  display: none;
}

.save-button {
  width: 300px;
  height: 50px;
  margin-top: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0px;
  background: #810000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.save-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 811px) {
  h1 {
    text-align: left;
    font-size: 16px;
  }

  .logout-text {
    text-align: left;
    font-size: 10px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }

  .main {
    padding-top: 10px;
    justify-content: start;
  }

  .main-graphics {
    height: 50vw;
    width: 85vw;
  }

  .title {
    padding: 0px;
    margin-top: 0px;
    font-size: 16px;
  }

  .main form {
    width: 95%;
  }

  .settings-container {
    padding-left: 7px;
    padding-right: 7px;
  }

  .div-left-right {
    flex-direction: column;
  }

  .settings-input {
    width: 100%;
  }

  .settings-input input[type="password"],
  .settings-input input[type="email"] {
    margin-right: 0px;
    width: 55%;
  }

  .settings-input p {
    font-size: 10px;
  }

  .save-button-container {
    align-items: center;
  }

  .save-button {
    width: 50%;
  }
}
