body {
  margin: auto;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* div {
  border: 1px solid red;
}

section {
  border: 1px solid blue;
} */

a1 {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-div {
  display: flex;
  height: 100vh;
}

.login-div-L {
  width: 70%;
  background: #dba61a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-graphics-1,
.login-graphics-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.login-graphics-1 {
  top: 0px;
  left: 0px;
  height: 80vh;
  width: 80vh;
}

.login-graphics-2 {
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vh;
}

.login-div-R {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.login-div-center {
  display: flex;
  height: 50vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10vh;
}

.login-logo {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.login-as-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #810000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
