# Ignore node_modules
node_modules/

# Ignore package-lock.json
package-lock.json

# Ignore package.json (if needed)
package.json

# Ignore image captures
/captures/*

# Ignore ENV
.env

# Ignore vendor
/vendor

# Ignore elapsed time
elapsed_time.txt
